@mixin img_zoom($selector: 'img') {
    #{$selector} {
        transition: transform 600ms ease-in-out;
    }

    &:hover {
        #{$selector} {
            transform: scale(1.05);
        }
    }
}