@use './mixins';

.big-image {
    overflow: hidden;
    border-radius: 25px;
    position: relative;
    margin-bottom: 30px;
    height: 111px;

    &.with-overlay:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, .3);
        z-index: 0;
    }

    @include mixins.img_zoom();

    img {
        display: block;
        object-fit: cover;
        object-position: center center;
        width: 100%;
        height: 100%;
    }

    span {
        position: absolute;
        top: 0;
        left: 16px;
        right: 50%;
        bottom: 0;
        display: flex;
        justify-content: left;
        align-items: center;

        font-weight: 500;
        font-size: 24px;
        line-height: 24px;

        color: #FFFFFF;
        z-index: 1;
    }

    @media screen and (min-width: 800px) {
        height: 233px;

        span {
            left: 0;
            right: 0;
            font-size: 48px;
            line-height: 68px;
            justify-content: center;
        }
    }
}