.error-page {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    h1 {
        font-weight: 700;
        font-size: 188px;
        line-height: 180px;
    }

    div {
        font-weight: 500;
        font-size: 30px;
        line-height: 51px;
        text-align: center;
    }

    a {
        font-weight: 500;
        font-size: 18px;
        line-height: 26px;
    }

    @media screen and (min-width: 800px) {
        h1 {
            font-size: 288px;
            line-height: 411px;
        }

        div {
            font-size: 36px;
        }
    }
}