.faq {
    h2 {
        position: relative;
    
        background: #FF6060;
        border-radius: 5px;
        height: 47px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    
        font-weight: 500;
        font-size: 24px;
        line-height: 34px;
        color: #FFFFFF;
        padding-left: 20px;
    
        cursor: pointer;
    }
    
    .content {
        padding: 30px 20px 20px;
        font-weight: 400;
        font-size: 24px;
        line-height: 34px;
        background-color: #F7F7F7;
    }
    
    svg {
        margin-left: auto;
        margin-right: 20px;
    }
    
    &.faq-opened svg {
        transform: scaleY(-1);
    }
    
}