footer {
    background:#000;
    color:#fff;
    margin: 50px -20px -20px;

    .container {
        height: 210px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
}
