header {
    .container {
        height: 86px;
        display: flex;
        flex-direction: row;
        align-items: center;

        svg {
            width: 145px;
        }

        nav {
            margin-left: auto;

            ul {
                display: flex;
                flex-direction: row;
                gap: 10px;
            }

            a {
                font-weight: 500;
                font-size: 12px;
                line-height: 17px;
                text-decoration-line: none;
                text-transform: uppercase;

                &:hover,
                &.active {
                    text-decoration-line: underline;
                }
            }
        }

        @media screen and (min-width: 800px) {
            height: 170px;

            svg {
                width: auto;
            }

            nav {
                a {
                    font-size: 24px;
                    line-height: 34px;
                }

                ul {
                    gap: 60px;
                }
            }

        }
    }
}