.logements {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    grid-auto-rows: minmax(100px, auto);

    @media screen and (min-width: 800px) {
        background: #F7F7F7;
        border-radius: 25px;
        padding: 56px 50px;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 60px;
    }
}