.place {
    .infos {
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: space-between;
        margin-bottom: 24px;
    }

    .infos-place {
        flex: 1;

        h1 {
            font-style: normal;
            font-weight: 500;
            font-size: 36px;
            line-height: 51px;
        }

        h2 {
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 26px;
        }

        .tags {
            margin-top: 20px;
            display: flex;
            flex-direction: row;
            gap: 10px;
        }
    }

    .infos-host {
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .details {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .faq {
            flex: 1;

            h2 {
                font-size: 18px;
                line-height: 26px;
            }

            .content {
                font-weight: 400;
                font-size: 18px;
                line-height: 26px;
            }
        }
    }

    @media screen and (min-width: 800px) {
        .infos {
            flex-direction: row;
            gap: 76px;
        }

        .infos-host {
            flex-direction: column-reverse;
            align-items: flex-end;
        }

        .details {
            flex-direction: row;
            gap: 76px;
        }
    }
}