@use './mixins';

.slideshow {
    overflow: hidden;
    border-radius: 25px;
    position: relative;
    margin-bottom: 30px;
    height: 415px;

    @include mixins.img_zoom();

    img {
        display: block;
        object-fit: cover;
        object-position: center center;
        width: 100%;
        height: 100%;
    }

    .counter {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 25px;
        display: flex;
        justify-content: center;
        align-items: center;

        font-weight: 500;
        font-size: 18px;
        line-height: 26px;

        color: #FFFFFF;
    }

    .previous,
    .next {
        position: absolute;
        top: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        cursor: pointer;
        padding-left: 23px;
        justify-content: flex-start;
        transition: padding 200ms ease-in-out;

        &:hover {
            padding-left: 15px;
        }
    }

    .previous {
        left: 0;
        right: 50%;
    }

    .next {
        left: 50%;
        right: 0;
        transform: scaleX(-1);
    }
}