.tag {
    color:#fff;
    background-color: #FF6060;
    border-radius: 10px;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;

    padding: 3px 37px;
}