@use './mixins';

.thumbnail {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    height: 340px;
    cursor: pointer;
    transition: all 400ms ease-in-out;

    &:after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
        z-index: 0;
    }

    @include mixins.img_zoom();

    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }

    &:hover {
        transform: scale(1.03);
        box-shadow: 0px 0px 20px -3px rgba(0,0,0,.5);
    }

    span {
        position: absolute;
        bottom: 20px;
        left: 20px;
        width: 40%;
        font-weight: 500;
        font-size: 18px;
        line-height: 26px;
        color: #FFFFFF;
        z-index: 1;
    }
}