@use './mixins';

.user {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;

    .user-name {
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 26px;
        text-align: right;
    }
    
    @include mixins.img_zoom();

    img {
        display: block;
        overflow: hidden;
        border-radius: 100%;
        width: 64px;
        height: 64px;
        object-fit: cover;
        object-position: center center;
    }
}